<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="form-container container" id="app">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">名前</label>
      <div class="form-row">
        <div class="col">
          <input v-model="form.firstName" type="text" class="form-control" placeholder="名字" autofocus>
          <small v-bind:class="{'is-hide':validation.firstName}"  class="form-text text-info">{{ errorMessage.firstName }}</small>
        </div>
        <div class="col">
          <input v-model="form.lastName" type="text" class="form-control" placeholder="名前">
          <small v-bind:class="{'is-hide':validation.lastName}"  class="form-text text-info">{{ errorMessage.lastName }}</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">電話番号</label>
      <input v-model="form.tel" type="tel" class="form-control" id="exampleInputEmail1" placeholder="電話番号">
      <small v-bind:class="{'is-hide':validation.tel}" class="form-text text-info">{{ errorMessage.tel }}</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">メールアドレス</label>
      <input v-model="form.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="メールアドレス">
      <small v-bind:class="{'is-hide':validation.email}" class="form-text text-info">{{ errorMessage.email }}</small>
    </div>
    <div class="btn-container"><button type="submit" v-bind:disabled="!isValid" class="btn btn-primary">送信</button></div>
  </form>
</div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>
